{% extends 'jobs/base.html' %}
{% block title %}Manage applications{% endblock %}


{% block head %}
    <style media="screen">
        .user_column{
            margin: 1px;
            text-align: center;
        }
        .users-div{
            border: 2px solid gray;
            padding: 3px 5px 3px 5px;
            text-align: left;
            border-radius: 10px;
        }

        .column-header{
            line-height: 1.5em;
            height: 3em;
            margin-top: 4em;
        }

        #selector{
            width: 90%;
            background-color: whitesmoke;
        }

    </style>
{% endblock %}

{% block body %}
{% if user.is_superuser %}
<h3>Manage applications</h3>
<div class="container">
    <div class="row">
        <div class="col-sm selector-div">
            <select id='selector' onchange="sortOut(this.value)">
                <option value="All">All</option>
                {% for section in sections %}
                    <option value="{{ section }}">{{ section }}</option>
                {% endfor %}
            </select>

            <select id='selector2' onchange="sortOutGang(this.value)">
                <option value="All">All</option>
                {% for gang in gangs %}
                    <option value="{{ gang }}">{{ gang }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-sm user_column">
            <div class="column-header">Not Evaluated</div>
            <div class="users-div">
                {% for application in applications %}
                    <div  class="{{ application.applicant.id }}">
                        {% if application.applicant.get_status == 'NE'%}
                            <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                                {{ application.applicant }}<br>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm user_column">
            <div class="column-header">Interview Set</div>
            <div class="users-div">
                {% for application in applications %}
                    <div class="{{ application.applicant.id }}">
                        {% if application.applicant.get_status == 'IS'%}
                            <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                                {{ application.applicant }}<br>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm user_column">
            <div class="column-header">Interview Confirmed</div>
            <div class="users-div">
                {% for application in applications %}
                    <div  class="{{ application.applicant.id }}">
                        {% if application.applicant.get_status == 'IC'%}
                            <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                                {{ application.applicant }}<br>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm user_column">
            <div class="column-header">Interviewed</div>
            <div class="users-div">
                {% for application in applications %}
                    <div  class="{{ application.applicant.id }}">
                        {% if application.applicant.get_status == 'ID'%}
                            <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                                {{ application.applicant }}<br>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm user_column">
            <div class="column-header">Accepted</div>
            <div class="users-div">
                {% for application in applications %}
                    <div  class="{{ application.applicant.id }}">
                        {% if application.applicant.get_status == 'AC'%}
                            <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                                {{ application.applicant }}<br>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    You have no power here
{% endif %}
{% endblock %}

{% block scriptblock %}
    <script>
        var sections_map = new Map()
        sections_map.set("All", new Map());

        var gangs_map = new Map()
        gangs_map.set("All", new Map());

        {% for section in sections %}
            sections_map.set("{{section}}", new Map());
        {% endfor %}

        {% for gang in gangs %}
            gangs_map.set("{{gang}}", new Map());
        {% endfor %}

        {% for application in applications %}
            sections_map.get('All').set(parseInt("{{ application.applicant.id }}"), null);
            gangs_map.get('All').set(parseInt("{{ application.applicant.id }}"), null);


            for (var [key, value] of sections_map) {
                if ("{{ application.get_position_sections | safe}}".includes(key)){
                    value.set(parseInt("{{ application.applicant.id }}"), null)
                }
            }
            for (var [key, value] of gangs_map) {
                if ("{{ application.get_position_gangs | safe}}".includes(key)){
                    value.set(parseInt("{{ application.applicant.id }}"), null)
                }
            }
        {% endfor %}

        function sortOut(section){
            for (var [key, value] of sections_map.get('All')) {
                if (!sections_map.get(section).has(key)){
                    $('.' + key).css('display','none');
                }
                else{
                    $('.' + key).css('display','block');
                }
            }
            // Change gang selector
            console.log($('#selector2').val());
            $('#selector2').find('option').remove().end().append('<option value="All">All</option>');

            {% for gang in gangs %}
                if ("{{ gang.section }}" == section){
                    $('#selector2').append('<option value="{{ gang }}">{{ gang }}</option>');
                }
                else if (section == 'All'){
                    $('#selector2').append('<option value="{{ gang }}">{{ gang }}</option>');
                }
            {% endfor %}
        }

        function sortOutGang(gang){
            section = $('#selector').val();
            for (var [key, value] of sections_map.get('All')) {
                if (!gangs_map.get(gang).has(key)){
                    $('.' + key).css('display','none');
                }
                else{
                    $('.' + key).css('display','block');
                }
            }
        }
    </script>
{% endblock %}
