{% extends 'jobs/base.html' %}
{% block title %}Manage applications{% endblock %}


{% block head %}
    <style media="screen">
        .user_column{
            margin: 1px;
            text-align: center;
        }
        .users-div{
            border: 2px solid gray;
            padding: 3px 5px 3px 5px;
            text-align: left;
        }

        #selector{
            width: 90%;
            background-color: whitesmoke;
        }

    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm selector-div">
            <select id='selector'>
                <option value="All">All</option>
                {% for section in sections %}
                    <option value="{{ section }}">{{ section }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-sm user_column">
            Not Evaluated
            <div class="users-div">
                {% for application in applications %}
                    {% if application.applicant.get_status == 'NE'%}
                        <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                            {{ application.applicant.get_full_name }}<br/>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm user_column">
            Interview Set
            <div class="users-div">
                {% for application in applications %}
                    {% if application.applicant.get_status == 'IS'%}
                        <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                            {{ application.applicant.get_full_name }}<br/>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm user_column">
            Interview Confirmed
            <div class="users-div">
                {% for application in applications %}
                    {% if application.applicant.get_status == 'IC'%}
                        <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                            {{ application.applicant.get_full_name }}<br/>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm user_column">
            Interviewed
            <div class="users-div">
                {% for application in applications %}
                    {% if application.applicant.get_status == 'ID'%}
                        <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                            {{ application.applicant.get_full_name }}<br/>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm user_column">
            Accepted
            <div class="users-div">
                {% for application in applications %}
                    {% if application.applicant.get_status == 'AC'%}
                        <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                            {{ application.applicant.get_full_name }}<br/>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scriptblock %}
    <script>
    // TODO:
        var test = [];
        {% for application in applications %}
            test.push(["{{ application.applicant.get_full_name }}", "{{ application.first.gang.section }}"])
        {% endfor %}
        console.log(test[0]);
    </script>
{% endblock %}
