{% extends 'jobs/base.html' %}
{% block title %}Set dates{% endblock %}

{% block head %}
    <style media="screen">
        .calendar {
            display: grid;
            grid-template-columns: 1fr 6fr;
            gap: 0.8em;
            border: solid;
            border-radius: 20px;
            border-color: gray;
            /*
            */
            padding: 0.7em;
            text-align: center;
            color: DeepSkyBlue;
        }
        .times {
            display: grid;
            gap: 1em;
            padding-top: 0.25em;
            padding-bottom: 0.5em;
        }
        .times div {
            min-width: 6em;
            /*
            padding-top: 0.25em;
            */
        }
        .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 0.2em;
        }
        .grid1, .grid2 {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(10, 1.9em);
            gap: 0.55em;
        }
        .gridcell, .gridcell-disabled {
            height: 28px;
            border: solid;
            border-radius: 7px;
        }
        .gridcell:hover {
            cursor: pointer;
            color: orange;
        }
        .gridcell-disabled:hover {
            cursor: not-allowed;
        }

        #timestring {
            display: none;
        }
        #buttons-div {
            text-align: center;
        }
        #bt0, #bt1{
            margin-top: 10px;
        }
        #cell-selecting, #changeWeek-div {
            display: inline-block;
        }
        #buttons-div button {
            min-width: 100px;
        }
        .buttons-col {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
        }

        @media only screen and (max-width: 30em) {
            .grid1, .grid2 {
                gap: 0.13em;
            }
            .gridcell, .gridcell-disabled {
                font-size: small;
                height: 20px;
            }
            .times, .topleft {
                font-size: small;
                min-width: 5em;
                padding-top: 0.1em;
                /*
                */
            }
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h4>Please choose the times when you are <u>UNABLE</u> to have an interview</h4><br>
                <h5><div id="week-div">Week 33 (29th Aug - 2nd Sep)</div></h5>
                <div class="calendar">
                    <div class="topleft">Time / Day</div>

                    <div class="days">
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                        <div>Sun</div>
                    </div>

                    <div class="times">
                        <div>08:15 - 09:00</div>
                        <div>09:15 - 10:00</div>
                        <div>10:15 - 11:00</div>
                        <div>11:15 - 12:00</div>
                        <div>12:15 - 13:00</div>
                        <div>13:15 - 14:00</div>
                        <div>14:15 - 15:00</div>
                        <div>15:15 - 16:00</div>
                        <div>16:15 - 17:00</div>
                        <div>17:15 - 18:00</div>
                        <div>18:15 - 19:00</div>
                        <div>19:15 - 20:00</div>
                        <div>20:15 - 21:00</div>

                    </div>

                    <div class="grid1">
                        <!-- cells inserted with javascript -->
                    </div> <!-- End: grid -->

                    <div class="grid2">
                        <!-- cells inserted with javascript -->
                    </div> <!-- End: grid -->
                </div> <!-- End: calendar -->
            </div>
            <div class="col-lg-3 buttons-col ">
                <div class="" id="buttons-div">
                    <div id="cell-selecting">
                        <button type="button" class="btn btn-outline-success" id="select_all">Select all</button>
                        <button type="button" class="btn btn-outline-danger" id="unselect_all">Unselect all</button>
                    </div>
                    <div class="changeWeek-div">
                        <button type="button" class="btn" id="bt0" onclick="changeWeek(this, 0)">&#8678; 1st Week</button>
                        <button type="button" class="btn" id="bt1" onclick="changeWeek(this, 1)">2nd Week &#8680;</button>
                    </div>

                    <form method="POST" name='dates_form'>
                        {% csrf_token %}
                        <input id="timestring" name="times"></input>
                    </form>
                    <button onclick="submit()" style="width: 100%; margin-top: 12px;" class="btn button-form">Save and apply</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scriptblock %}
    <script>
        var week, week_text, all_dates, user_dates_inverse, user_dates
        $(document).ready(function() {
            $('.grid2').css('display', 'none');
            $('#bt0').prop("disabled", true);

            dates_range = 182
            week = 0;
            week_text = ['Week 36 (29. Aug - 2. Sep)', 'Week 37 (3. Sep - 8. Sep)'];
            closed_dates = [0,1,7,8,14,15,21,22,28,29,35,36,42,]
            all_dates = [...Array(dates_range).keys()];
            user_dates_inverse = {{ user_dates }}
            user_dates = all_dates.filter( function( el ) {
                return !user_dates_inverse.includes( el );
            } );
            var filler = "X";
            $("#timestring").val(user_dates);

            // Create divs inside grid. Easier than adding them manually
            for (var i=0; i<dates_range/2; i++) { // 70 because of temporary 0-69 grid
                var div = document.createElement("div");  // Create with DOM
                div.id = i; // Give each cell their id according to grid

                // if (i in closed_dates) div.className = "gridcell-disabled";
                // else div.className = "gridcell";
                var tmp = (i%7==0 || i%7==1) ? 'gridcell-disabled' : 'gridcell';
                div.className = tmp;
                if (tmp=='gridcell-disabled') div.innerHTML = filler;
                $(".grid1").append(div);
            } // End: cell-appending to grid

            // Create divs inside grid. Easier than adding them manually
            for (var i=dates_range/2; i<dates_range; i++) { // 70 because of temporary 0-69 grid
                var div = document.createElement("div");  // Create with DOM
                div.id = i; // Give each cell their id according to grid
                var tmp = (i%7==6) ? 'gridcell-disabled' : 'gridcell';
                div.className = tmp;
                if (tmp=='gridcell-disabled') div.innerHTML = filler;
                $(".grid2").append(div);
            } // End: cell-appending to grid

            // Display previously selected dates
            for (var i = 0; i < user_dates.length; i++) {
                var cellid = "#" + user_dates[i];
                $(cellid).html(filler);
            } // End: Display previously selected dates

            // Select or unselect dates, and update the array accordingly
            $(".gridcell").click(function(){
                if (this.innerHTML == filler) { // Unselect
                    this.innerHTML = "";
                    var index = user_dates.indexOf(parseInt(this.id));
                    user_dates.splice(index, 1);
                    $("#timestring").val(user_dates);
                    console.log(this.id);
                }
                else { // Select
                    this.innerHTML = filler;
                    user_dates.push(parseInt(this.id));
                    $("#timestring").val(user_dates);
                    console.log($("#timestring").val());
                }

            }); // End: gridcell.click

            /*$("#submit_times").click(function() {
                user_dates
            });*/

            $("#select_all").click(function() {
                for (var i = 0; i < dates_range; i++) {
                    var j = i;
                    if (week == 1) j = i + dates_range/2;
                    user_dates[j] = j;
                    $("#" + j).html(filler);
                }
                $("#timestring").val(user_dates);
            });
            $("#unselect_all").click(function() {
                if (week == 0) user_dates.splice(0, dates_range/2);
                else user_dates.splice(dates_range/2, dates_range);
                for (var i = 0; i < dates_range/2; i++) {
                    var j = i;
                    if (week == 1) j = i + dates_range/2;
                    $("#" + j).html("");
                }
                $("#timestring").val(user_dates);
            });


        }); // End: document ready

        function submit(){
             var save = all_dates.filter( function( el ) {
                return !user_dates.includes( el );
            } );
            $("#timestring").val(save);
            document.dates_form.submit();
        }

        function changeWeek(bt, num){
            week = num;
            $('.grid1').toggle();
            $('.grid2').toggle();
            $('#week-div').html(week_text[week]);
            $('#bt' + num).prop("disabled",true);
            $('#bt' + (num + 1) % 2).prop("disabled",false);

        }
    </script>
{% endblock %}
