{% extends 'jobs/base.html' %}
{% block title %}Set dates{% endblock %}

{% block head %}
    <style media="screen">
        .calendar {
            display: grid;
            grid-template-columns: 1fr 6fr;
            gap: 1em;
            border: solid;
            border-radius: 20px;
            border-color: gray;
            padding: 2em;
            text-align: center;
            color: DeepSkyBlue;
        }
        .topleft {
            border: hidden;
        }
        .times {
            display: grid;
            border: hidden;
            gap: 1em;
        }
        .times div {
            border: hidden;
            min-width: 6em;
            padding-top: 0.25em;
        }
        .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            border: hidden;

        }
        .grid1, .grid2 {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(10, 1.9em);
            border: hidden;
            gap: 1em;
        }

        .gridcell {
            border: solid;
            border-radius: 6px;
        }
        .gridcell:hover {
            cursor: pointer;
            color: orange;
        }

        #timestring {
            display: none;
        }

        #buttons-div{
            text-align: center;
        }
        #bt0, #bt1{
            margin-top: 10px;
        }

        @media only screen and (max-width: 30em) {
            .times{
                font-size: small;
                min-width: 5em;
                padding-top: 0.1em;
            }
        }

    </style>
{% endblock %}

{% block body %}
    <h4>Please choose the times when you are <u>UNABLE</u> to have an interview</h4><br>
    <h5><div id="week-div">Week 33 (13th Aug - 19th Aug)</div></h5>

    <div class="calendar">
        <div class="topleft">Time / Day</div>

        <div class="days">
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
            <div>Sun</div>
        </div>

        <div class="times">
            <div>08:00 - 09:00</div>
            <div>09:00 - 10:00</div>
            <div>10:00 - 11:00</div>
            <div>11:00 - 12:00</div>
            <div>12:00 - 13:00</div>
            <div>13:00 - 14:00</div>
            <div>14:00 - 15:00</div>
            <div>15:00 - 16:00</div>
            <div>16:00 - 17:00</div>
            <div>17:00 - 18:00</div>
        </div>

        <div class="grid1">
            <!-- cells inserted with javascript -->
        </div> <!-- End: grid -->

        <div class="grid2">
            <!-- cells inserted with javascript -->
        </div> <!-- End: grid -->
    </div> <!-- End: calendar -->

    <div id="buttons-div">
        <button type="button" class="btn btn-outline-success" id="select_all">Select all</button>
        <button type="button" class="btn btn-outline-danger" id="unselect_all">Unselect all</button>
        <br />
        <button type="button" class="btn" id="bt0" onclick="changeWeek(this, 0)">&#8678; 1st Week</button>
        <button type="button" class="btn" id="bt1" onclick="changeWeek(this, 1)">2nd Week &#8680;</button>



        <form method="POST" name='dates_form'>
            {% csrf_token %}
            <input id="timestring" name="times"></input>
        </form>
    <button onclick="submit()" style="width: 100%; margin: 20px 0 10px 0;" class="btn button-form">Save and apply</button>
    </div>
{% endblock %}

{% block scriptblock %}
    <script>
        var week, week_text, all_dates, user_dates_inverse, user_dates
        $(document).ready(function() {
            $('.grid2').css('display', 'none');
            $('#bt0').prop("disabled", true);

            week = 0;
            week_text = ['Week 36 (3th Sept - 9th Sept)', 'Week 37 (10th Sept - 16th Sept)'];
            all_dates = [...Array(140).keys()];
            user_dates_inverse = {{ user_dates }}
            user_dates = all_dates.filter( function( el ) {
                return !user_dates_inverse.includes( el );
            } );
            var filler = "X";
            $("#timestring").val(user_dates);

            // Create divs inside grid. Easier than adding them manually
            for (var i=0; i<70; i++) { // 70 because of temporary 0-69 grid
                var div = document.createElement("div");  // Create with DOM
                div.id = i; // Give each cell their id according to grid
                div.className = "gridcell";
                $(".grid1").append(div);
            } // End: cell-appending to grid

            // Create divs inside grid. Easier than adding them manually
            for (var i=70; i<140; i++) { // 70 because of temporary 0-69 grid
                var div = document.createElement("div");  // Create with DOM
                div.id = i; // Give each cell their id according to grid
                div.className = "gridcell";
                $(".grid2").append(div);
            } // End: cell-appending to grid

            // Display previously selected dates
            for (var i = 0; i < user_dates.length; i++) {
                var cellid = "#" + user_dates[i];
                $(cellid).html(filler);
            } // End: Display previously selected dates

            // Select or unselect dates, and update the array accordingly
            $(".gridcell").click(function(){
                if (this.innerHTML == filler) { // Unselect
                    this.innerHTML = "";
                    var index = user_dates.indexOf(parseInt(this.id));
                    user_dates.splice(index, 1);
                    console.log(user_dates);
                    $("#timestring").val(user_dates);
                    console.log($("#timestring").val());
                }
                else { // Select
                    this.innerHTML = filler;
                    user_dates.push(parseInt(this.id));
                    console.log(user_dates);
                    $("#timestring").val(user_dates);
                    console.log($("#timestring").val());
                }

            }); // End: gridcell.click

            /*$("#submit_times").click(function() {
                user_dates
            });*/

            $("#select_all").click(function() {
                for (var i = 0; i < 70; i++) {
                    var j = i;
                    if (week == 1) j = i + 70;
                    user_dates[j] = j;
                    $("#" + j).html(filler);
                    console.log(user_dates);
                }
                $("#timestring").val(user_dates);
            });
            $("#unselect_all").click(function() {
                if (week == 0) user_dates.splice(0, 70);
                else user_dates.splice(70, 140);
                for (var i = 0; i < 70; i++) {
                    var j = i;
                    if (week == 1) j = i +70;
                    $("#" + j).html("");
                }
                console.log(user_dates);
                $("#timestring").val(user_dates);
            });


        }); // End: document ready

        function submit(){
             var save = all_dates.filter( function( el ) {
                return !user_dates.includes( el );
            } );
            $("#timestring").val(save);
            document.dates_form.submit();
        }

        function changeWeek(bt, num){
            week = num;
            $('.grid1').toggle();
            $('.grid2').toggle();
            $('#week-div').html(week_text[week]);
            $('#bt' + num).prop("disabled",true);
            $('#bt' + (num + 1) % 2).prop("disabled",false);

        }
    </script>
{% endblock %}
