{% extends 'jobs/base.html' %}
{% load static %}
{% load socialaccount %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="card card-container">
                <img class="login-logo" src="{% static 'jobs/images/isfit_logo72-22.png' %}" />
                <h1 class="appname">Recruitment Web</h1>
                <p>Hey {{ request.user }}! <br> it seems like you're already signed in...</p>
            </div>
        </div>
    {% else %}
    <div class="container">
        <div class="card card-container">
            <h1>Login:</h1>
            <br>
            <br>
            <form class="form-signin" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                            </p>
                        </div>
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div style="color:red">
                        {{ error }}
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Sign in</button>
            </form>
            <p>Don't remember your password? Send an e-mail to recruitment.it at isfit.no</p>
            <form action="{% url 'accounts:signup' %}" method="get">
                <input class="have-user have-user-button" type="submit" value="Don't have a user?"><br>
            </form>
            <br>
            <a href="{% provider_login_url 'google' %}">Volunteer login</a>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scriptblock %}
    <script type="text/javascript">
        $(document).ready(function() {

        })
    </script>
{% endblock %}
