{% extends 'jobs/base.html' %}
{% block title %}Register{% endblock %}

{% block head %}
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}

        .error {
            color: red;
        }

        .help_text {
            color: gray;
        }

        #btn_submit {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <h2>Create account</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }} <br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small class="help_text">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p class="error">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <p>By signing up you agree with ISFiT's Privacy Policy Statement.</p>
                        <!-- Trigger/Open The Modal -->
                        {% include 'accounts/GDPR_modal.html' %}
                        <br />
                        <button id="btn_submit" type="submit" class="btn btn-primary">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h3>Already have an account?</h3>
    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary">Login</button>
    </form>
{% endblock %}
