{% extends 'jobs/base.html' %}

{% block body %}
    <h1>ISFiT 2019</h1>

    <h2>Welcome {{ applicant.full_name }}!</h2>
    <h2>Select positions you would like to apply for</h2>

    <ul>
    {% for position in all_positions %}
        <form method="POST" class="post-form">{% csrf_token %}
             <div>
                 <button class="input-button" name="selectPosition" type="submit" value="{{ position.pk }}">{{ position.title }}</button>
             </div>
        </form>
    {% endfor %}
    </ul>

{% endblock %}
