{% extends 'jobs/base.html' %}
{% block title %}Apply{% endblock %}

{% block head %}
    <style media="screen">
        ul {
            list-style-type: none; /* Removes bullet */
        }

        .form-control{
            width: 50%;
            margin-left: 25vw;
        }

        @media (max-width: 892px) {
            .form-control {
                width: 90vw;
                margin-left: 0;
            }
        }

        .container {
            max-width: 100%;
        }

        .row{
            alignment: center;
            text-align: center;
            position: center;
        }

        @media (max-width: 1048px) {
            .row {
                margin-left: 0;
            }
        }
        .options {
            cursor: pointer;
            color: whitesmoke;
            line-height: 2rem;
        }
        .options span:hover {
            color: #007bff;
        }
        .sections {
            font-size: 1.5rem;
            line-height: 3rem;
        }
        .gangs {
            font-size: 1.3rem;
            line-height: 2rem;
        }
        .positions {
            padding-left: 15px;
            padding-right: 15px;
        }

        .positions li:hover {
            color: #007bff;
            padding-left: 0.5em;
        }
        .dropzone {
            border-radius: 20px;
            border: solid;
            border-style: inset;
            border-color: #007bff;
            height: 280px;
            max-width: 400px;
            background-color: rgba(20, 20, 20, 0.9);
        }

        #chosenList li {
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            color: gray;
            line-height: 1rem;
            margin-top: 1rem;
            margin-right: 0;
            padding: 8px 8px 8px 20px;
            list-style-position: inside;
            width: 100%;
        }

        #chosenList li:hover {
            cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important;
            cursor: grabbing;
            color: #007bff;
        }

        .remove{
            display:inline;
            float:right;
        }

        .remove:hover{
            color: red;
            cursor: pointer;
        }
        .error-field {
            color: red;
        }

        #next-info{
            margin-top: 3em;
            margin-bottom: -0.5em;
            width: 70%;
            margin-left: 15%;
        }
        #page-info{
            margin-top: 2em;
            width: 60%;
            margin-left: 20%;
            text-align: left;
            background-color: rgba(30, 30, 30, 0.7);
            padding: 1em;
            margin-bottom: 2em;
        }

        @media (max-width: 50em) {
            #next-info{
                width: 90%;
                margin-left: 5%;
            }
            #page-info{
                width: 90%;
                margin-left: 5%;
            }
        }
    </style>
{% endblock %}

{% block body %}
{% if user.get_status in rep_list %}
<h2>Your application:</h2>
<div id='page-info'>
On this page you are required to write an application text and select the positions you would like to apply for.
On the next page you can select certain times where you are defininitely UNABLE to have an
 interview. This will help us coordinate interview times.<p><p>
<b>You can edit your application until 21. Oct.</b> After you have been scheduled for an interview
it will no longer be possible to change this application, apart from changing the position prioritization.
<p><p>
Click the link 'Browse all positions' to see all available positions in more detail.
<br><br>
1. Write application text <br>
2. Click to add positions (max 3) <br>
3. Prioritize your positions with 'drag and drop' <br>
<br>
</div>
<form method="post" name='application_form'>
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p class="error-field">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <!-- Dummy method -->
    <input id="selected_positions" name="selected_positions" style="display:none;">
</form>

<div class="row container">
    <div class="col-md-7">
        <h2>Sections:</h2>
        <ul class="options">
            {% for section in sections %}
            <li><span class="collapsable sections">{{section.name}}</span>
                <ul>
                    <!--<h3>Gangs:</h3>-->
                    {% for gang in gangs %}
                    {% if gang.section == section %}
                    <li><span class="collapsable gangs">{{gang.name}}</span>
                        <ul class="positions">
                            {% for position in positions %}
                            {% if position.gang == gang %}
                            <li id="{{position.title}}"><span>{{position.title}}</span></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <a href={% url 'jobs:information' %} target="_blank"><h5>Browse all positions</h5></a>
    </div>
        <div class="col-md-5 dropzone">
            <h2>Chosen:</h2>
            <p>Click to remove, drag to reorder.</p>
            <ol id="chosenList"></ol>
        </div>
</div>
    {% if closed %}
    <div id='next-info'>You have already been scheduled for an interview and can therefore no longer change
         your application. However you can still change the position prioritization in the 'Chosen'-box.</div>
    <button onclick="submit()" style="width: 60%; margin: 20px 0 10px 0;" class="btn button-primary">Update prioritization</button>
    {% else %}
    <div id='next-info'>Next step is to tell us when you are <b>not able</b> to have an
        interview. <b>By clicking the button below your choices on this page will be saved.</b> You can
         continue your application at a later time. If you do not submit times on the next page your
    interview time will be set randomly.</div>
        <button onclick="submit()" style="width: 60%; margin: 20px 0 10px 0;" class="btn button-primary">Set UNAVAILABLE times</button>
    {% endif %}

{% else %}
You can no longer edit your application
{% endif %}
{% endblock %}

{% block scriptblock %}
<script type="text/javascript" src="https://rubaxa.github.io/Sortable/Sortable.js">//https://github.com/RubaXa/Sortable</script>

<script>

    var chosen = {};
    var close_string = '06 Oct 2018 12:01:00 GMT'; // This has to be changed to applicant close time
    // var isclosed = ((Date.parse(close_string) - 7200000) - Date.now())
    // var closed = (tmp < 0); wtf?!?


    // Getting saved application
    var rankings = {{ applied_to | safe }};
    if (rankings != null){
        for (i in rankings){
            chosen[rankings[i]] = 'chosen'
            li = document.createElement("li");
            li.innerHTML = rankings[i] + '<div class="remove">&times;</div>';
            li.id = rankings[i];
            document.getElementById("chosenList").appendChild(li);
        }
    }

    Sortable.create(chosenList, {animation: 150 });

    $(function() {
        $(".collapsable").click(function () {
            $(this).parent().children().toggle();
            $(this).toggle();
        });

        $(".collapsable").each(function(){
            $(this).parent().children().toggle();
            $(this).toggle();
        });

        // Disable after interview close time
        if (! {{ closed|yesno:"true,false" }} ){
            console.log("not closed");
            $(".positions li").on("click", function (e) {
                console.log(chosen);
                if ($("#chosenList li").length < 3 && chosen[this.id] == null) {
                    chosen[this.id] = "chosen";
                    li = document.createElement("li");
                    li.innerHTML = this.innerHTML + '<div class="remove">&times;</div>';
                    li.id = this.id;
                    document.getElementById("chosenList").appendChild(li);
                }
            });

            $("#chosenList").on("click", "li", function (e) {
                delete chosen[this.id];
                this.parentNode.removeChild(this);
            });

        }
        else $('#id_text').attr("disabled", "disabled");

    });

    function submit(){
        var pos = "";
        var cl = $('#chosenList li');
        for (var i = 0; i < cl.length; i++) {
            pos += cl[i].id + "||";
        }
        pos = pos.slice(0, -2);
        $('#selected_positions').val(pos);
        document.application_form.submit();
    }

</script>
{% endblock %}
