{% extends 'job/base.html' %}


{% block body %}

    <div class="container" style="color: black">
        <div class="row space-below">
            <div class="col-xl-12 space-above">
                <div class="white-box" id="text-box">
                    <h2>Your application</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <!-- Lists available positions for each section/gang -->
                        <h3>Which positions do you want to apply for?</h3>
                        <p>A full list of the positions with all information can be found <a href="/information">here</a>.</p>

                          <div class="gangs-div " id="{{ section.name }}">
                            <h4>Gangs</h4>
                            {% for gang in gangs %}
                                <div class="flex-horizontal">

                                    <h5 class="column-2">
                                      <a class="dropdown-toggle" data-toggle="collapse" href="#{{ gang.name }}"
                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                        {{ gang.name }}
                                      </a>
                                    </h5>

                                  <div class="positions-div collapse" id="{{ gang.name }}">
                                  <h5>Positions</h5>
                                  {% for position in positions %}

                                      {% if position.gang == gang %}
                                          <div class="flex-horizontal">
                                          <input name="positions" id="{{ position.pk }}" type="checkbox" value="{{ position.pk }}"></input>
                                          <a class="" data-toggle="collapse" href="#{{ position.title }}"
                                            role="button" aria-expanded="false" aria-controls="collapseExample"
                                            for="{{ position.pk }}">{{ position.title }}
                                          </a></div>
                                          <div class="collapse" id="{{ position.title }}">
                                            <div class="dropdown-item">
                                              <p class="">{{ position.description }}</p>
                                              <h5>Contact Information</h5>
                                              <p><b>Name:</b> {{ position.name_of_interviewer }} <br>
                                                <b>Phone:</b> {{ position.phone_number }} <br>
                                                <b>Email:</b> <a href="">{{ position.email }}</a></p>
                                            </div>
                                          </div>

                                      {% endif %}

                                  {% endfor %}
                                  </div>
                                </div>

                          {% endfor %}
                          </div>
                        Have you prioriticed your choices?
                        <br><input onclick="des()" type="checkbox" name="prog" value="1" value="Yes" label="Yes">
                          <small style="display: inline-block;">Yes</small></input>
                        <div id="apply-text" style="margin-top: 10px;">
                          <h5>You have to prioritice your position choices before you can apply!</h5>
                        </div>
                        <button style="display: none; width: 100%; background-color: #007bff; color: white;" id="submit_prog" class="btn button-form" type="submit" >Apply</button>
    </form>
            </div>
        </div>
    </div>
</div>
<script>
    function des(){
       if( document.getElementById("submit_prog").style.display === "none"){
           document.getElementById("apply-text").style.display = "none";
           document.getElementById("submit_prog").style.display = "block";
       } else {
            document.getElementById("submit_prog").style.display = "none";
            document.getElementById("apply-text").style.display = "block";
       }
    }
</script>

{% endblock %}
