{% extends 'job/base.html' %}

{% block body %}

    <div class="container" style="color: black">
        <div class="row space-below">
            <div class="col-xl-12 space-above">
                <div class="white-box" id="text-box">
                    <h2>Apply</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <!-- Lists available jobs for each section/gang -->
                        {% for section in sections %}
                            <h1>{{ section.name }}</h1>
                            {% for gang in gangs %}
                                {% if gang.section == section %}
                                    <h5>{{ gang.name }}</h5>
                                    {% for job in jobs %}
                                        {% if job.gang == gang %}
                                            <input name="jobs" id="{{ job.pk }}" type="checkbox" value="{{ job.pk }}">
                                            <label for="{{ job.pk }}">{{ job.title }}</label>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <button name="submitForm" type="submit" class="btn btn-primary" style="width:100%">Sign up</button>

<h2>Apply</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <!-- Lists available jobs for each section/gang -->
        {% for section in sections %}
            <h1> <a data-toggle="collapse" href="#{{ section.name }}"
              role="button" aria-expanded="false" aria-controls="collapseExample">
              {{ section.name }}</a></h1>
            <div class="gangs-div collapse" id="{{ section.name }}">
            {% for gang in gangs %}
                {% if gang.section == section %}

                    <h5>
                      <a data-toggle="collapse" href="#{{ gang.name }}"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        {{ gang.name }}
                      </a>
                    </h5>

                    <div class="positions-div collapse" id="{{ gang.name }}">
                    {% for job in jobs %}
                        {% if job.gang == gang %}
                            <input name="jobs" id="{{ job.pk }}" type="checkbox" value="{{ job.pk }}">
                            <a class="" data-toggle="collapse" href="#{{ job.title }}"
                              role="button" aria-expanded="false" aria-controls="collapseExample"
                              for="{{ job.pk }}">{{ job.title }}
                            </a>
                            <div class="collapse" id="{{ job.title }}">
                              <p class="dropdown-item">{{ job.description }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>

                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
        <button name="submitForm" type="submit" class="btn btn-primary" style="width:100%">Sign up</button>

    </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
