{% extends 'job/base.html' %}

{% block body %}

    <div class="container" style="color: black">
        <div class="row space-below">
            <div class="col-xl-12 space-above">
                <div class="white-box" id="text-box">
                    <h2>Apply</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <!-- Lists available positions for each section/gang -->
                        <h3>Available positions: <br>
                          <small> They are sorted in 'Section' -> 'Gang' -> 'Positions'</small></h3>
                        {% for section in sections %}
                        <div class="flex-horizontal">
                          <h3 class="column-1">
                            <a data-toggle="collapse" href="#{{ section.name }}"
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                            {{ section.name }}
                          </a>
                          </h3>
                          <div class="gangs-div collapse" id="{{ section.name }}">
                          {% for gang in gangs %}
                              {% if gang.section == section %}
                                <div class="flex-vertical">

                                    <h5 class="column-2">
                                      <a data-toggle="collapse" href="#{{ gang.name }}"
                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                        {{ gang.name }}
                                      </a>
                                    </h5>

                                  <div class="positions-div collapse" id="{{ gang.name }}">
                                  {% for position in positions %}

                                      {% if position.gang == gang %}
                                          <div class="flex-horizontal">
                                          <input name="positions" id="{{ position.pk }}" type="checkbox" value="{{ position.pk }}"></input>
                                          <a class="" data-toggle="collapse" href="#{{ position.title }}"
                                            role="button" aria-expanded="false" aria-controls="collapseExample"
                                            for="{{ position.pk }}">{{ position.title }} <small>(Click to see text)</small>
                                          </a></div>
                                          <div class="collapse" id="{{ position.title }}">
                                            <div class="dropdown-item">
                                              <p class="">{{ position.description }}</p>
                                            </div>
                                          </div>

                                      {% endif %}

                                  {% endfor %}
                                  </div>
                                </div>

                              {% endif %}
                          {% endfor %}
                          </div>
                        </div>
                    {% endfor %}

                        <button name="submitForm" type="submit" class="btn btn-primary" style="width:100%">Sign up</button>

    </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
