{% extends 'job/base.html' %}
{% block title %}Welcome{% endblock %}
{% block body %}

<h1>ISFiT 2019</h1>
<h2>Applicant information</h2>

<form action="{% url 'signup' %}" method="post">
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname"><br>
    Phone number (+47):<br>
    <input type="number" name="phonenumber"><br>
    Do you currently live in Trondheim?<br>
    <input type="radio" value="Yes" name="yes"><br>
    {% csrf_token %}
    <input type="submit" value="Apply for a job"><br>
</form>
<form action="#" method="post">
    <input type="radio" value="No" name="no"><br>
    {% csrf_token %}
    <input type="submit" value="You cannot apply">
</form>

{% endblock %}