{% extends 'job/base.html' %}
{% block title %}Welcome{% endblock %}
{% block body %}

<div class="text-area" id="intro-text">
  <h1>We are now recruiting!</h1>
</div>
{% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
        <input class="input-button" type="submit" value="logout"><br>
    </form>
    <form action="{% url 'profile' %}" method="post">
    {% csrf_token %}
        <input class="input-button" type="submit" value="See profile"><br>
    </form>

{% else %}
<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <input class="input-button" type="submit" value="Create User"><br>
</form>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input class="input-button" type="submit" value="Login"><br>
</form>
{% endif %}
{% endblock %}
