{% extends 'job/base.html' %}
{% block title %}Welcome{% endblock %}
{% block body %}
<div class="text-area container" id="intro-text">
  <h1>We are now recruiting!</h1>
  Do you want to be a link between Trondheim and the rest of the world? Would
  you like to get to know students from all over the world and help bring them
  to Trondheim for ten days of the world’s biggest International Student
  Festival? ISFiT is now recruiting! We are looking for volunteers in all
  departments, from economy and administration to culture and theme! Press,
  Concerts and Accounting are only some of the groups looking for fresh
  volunteers. If you want to learn more about the different positions, go to
  <a href="/information">information</a> and explore all the options.

</div>
{% if user.is_authenticated %}

    <form action="{% url 'profile' %}" method="post">
    {% csrf_token %}
        <input class="input-button" type="submit" value="See profile" style="cursor: pointer"><br>
    </form>
    <form action="{% url 'apply' %}" method="get">
        {% csrf_token %}
        <input class="input-button" type="submit" value="Edit application" style="cursor: pointer"><br>
    </form>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
        <input class="input-button" style="background-color:red; border-color: red; cursor: pointer;" type="submit" value="Log out"><br>
    </form>

{% else %}

<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <input class="input-button" type="submit" value="Create User"><br>
</form>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input class="input-button" type="submit" value="Login"><br>
</form>
<form action="{% url 'information' %}" method="get">
    {% csrf_token %}
    <input class="input-button" type="submit" value="Se all available positions"><br>
</form>

{% endif %}
{% endblock %}
