{% extends 'job/base.html' %}

{% block body %}

    {% block title %}Welcome{% endblock %}

    <h1>{{user.first_name}} {{ user.last_name }} :)</h1>

    {% if jobs %}
        <h2>You have applied for these jobs:</h2>
        <ul>
            {% for job in jobs %}
                <li><a href="{% url 'job_detail' %}">{{ job.title }}</a></li>
            {% endfor %}
        </ul>
        <form action="{% url 'apply' %}" method="get">
            {% csrf_token %}
            <input class="input-button" type="submit" value="Edit application"><br>
        </form>
    {% else %}
            <h2>You have not applied for any jobs:</h2>
            <form action="{% url 'apply' %}" method="get">
                {% csrf_token %}
                <input class="input-button" type="submit" value="Apply for a job"><br>
            </form>
    {% endif %}


        <form action="{% url 'logout' %}" method="get">
            {% csrf_token %}
            <input class="input-button" type="submit" value="Logout"><br>
        </form>


{% endblock %}
