{% extends 'job/base.html' %}

{% block body %}

    {% block title %}Welcome{% endblock %}

    <h1>{{user.first_name}} {{ user.last_name }}</h1>

    {% if positions %}
        <h2>You have applied for these positions:</h2>
        <ul>
            {% for position in positions %}

                <li><a href="{% url 'position_detail' position.pk %}">{{ position.title }}</a></li>
                {% for rank in rankings %}
                    {% if position.pk == rank.position.pk and user == rank.applicant %}
                        <h4>{{ rank.rank }}</h4>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
        <form action="{% url 'apply' %}" method="get">
            {% csrf_token %}
            <input class="input-button" type="submit" value="Edit application"><br>
        </form>
    {% else %}
            <h2>You have not yet applied for any positions.</h2>
            <form action="{% url 'apply' %}" method="get">
                {% csrf_token %}
                <input class="input-button" type="submit" value="Apply for a position now!"><br>
            </form>
    {% endif %}


        <form action="{% url 'logout' %}" method="get">
            {% csrf_token %}
            <input class="input-button" type="submit" value="Log out"><br>
        </form>


{% endblock %}
