{% extends 'job/base.html' %}

{% block body %}

 <div class="container" style="color: black">
        <div class="row space-below">
            <div class="col-xl-12 space-above">
                <div class="white-box" id="text-box">

                        <h1>Sections<br></h1>
                        {% for section in sections %}
                        <div class="flex-horizontal">
                          <h3 class="column-1">
                            <a class="dropdown-toggle" data-toggle="collapse" href="#{{ section.name }}"
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                            {{ section.name }}
                          </a>
                          </h3>
                          <div class="gangs-div collapse" id="{{ section.name }}">
                            <h5>Gangs</h5>
                          {% for gang in gangs %}
                              {% if gang.section == section %}
                                <div class="flex-vertical">

                                    <h6 class="column-2">
                                      <a class="dropdown-toggle" data-toggle="collapse" href="#{{ gang.name }}"
                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                        {{ gang.name }}
                                      </a>
                                    </h6>

                                  <div class="positions-div collapse" id="{{ gang.name }}">
                                    <h6>Positions</h6>
                                  {% for position in pos %}
                                      {% if position.gang == gang %}
                                          <div class="flex-horizontal">
                                            <h5 href=""><a class="dropdown-toggle" data-toggle="collapse" href="#{{ position.title }}"
                                              role="button" aria-expanded="false" aria-controls="collapseExample"
                                              for="{{ position.pk }}">{{ position.title }}
                                        </a></h5>
                                        </div>
                                            <div class="collapse" id="{{ position.title }}">
                                              <div class="dropdown-item">
                                                  {% if user.is_staff %}
                                                      {% for application in applications %}
                                                        {% if position in application.positions.all %}
                                                            <a href="{% url 'applicant_text' application.pk %}">{{application.applicant.first_name}} {{ application.applicant.last_name}}</a><br>
                                                        {% endif %}
                                                      {% endfor %}
                                                  {% endif %}

                                              </div>
                                    </div>

                                      {% endif %}
                                  {% endfor %}
                                  </div>
                                </div>

                              {% endif %}
                          {% endfor %}
                          </div>
                        </div>
                    {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}