{% extends 'jobs/base.html' %}

{% block head %}
    <style media="screen">
        .change-password-form {
            max-width: 600px;
        }
        #btn_submit {
            width: 100%;
        }
        .error {
            color: red;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Change password:</h1>
    <form class="container change-password-form" method="POST"> <!-- Bootstrap -->
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group"> <!-- Bootstrap -->
            {{ field.label_tag }}
            {{ field }}
            {{ field.error }}
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <button id="btn_submit" type="submit" class="btn btn-primary">Save</button>
    </form>
    <br><br><br> <!-- Quick bottom padding -->
{% endblock %}

{% block scriptblock %}
    <script type="text/javascript">
        $(document).ready(function() {

        })
    </script>
{% endblock %}
