{% extends 'jobs/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "accounts/login.css" %}">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="card card-container">
                <img class="login-logo" src="{% static 'jobs/images/isfit_logo72-22.png' %}" />
                <h1 class="appname">Recruitment Web</h1>
                <p>Hey {{ request.user }}! <br> it seems like you're already signed in...</p>
            </div>
        </div>
    {% else %}
    <div class="container">
        <div class="card card-container">
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Sign in</button>
            </form>
            <p>Don't remember your password? Send an e-mail to recruitment.it at isfit.no</p>
            <form action="{% url 'accounts:signup' %}" method="post">
                {% csrf_token %}
                <input class="have-user have-user-button" type="submit" value="Don't have a user?"><br>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}
