{% extends 'jobs/base.html' %}
{% block title %}Apply{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

Email address: {{ application.applicant.email }} <h1>{{ application.applicant.get_full_name }}</h1> Person nr. {{ application.applicant.id }}
<br />
Application text: {{ application.text}}
<br />
Dates: {{ dates.dates_list }}
<br />
<br />
1: {{application.first.title}}
<br />
2: {{ application.second.title }}
<br />
3: {{ application.third.title }}
<br />
<br />
Interviewers: {{ application.first.interviewer.get_full_name }} and {{ application.second.interviewer.get_full_name }}
<br />
<br />
{{ application.applicant.status }}

<form method="post" action="{% url 'accounts:manage_profile' application.applicant.id %}">
    {{ form }}
    {% csrf_token %}
    <br />
    <input type="submit" value="Set status">
</form>


{% endblock %}

{% block scriptblock %}
{% endblock %}
