{% extends 'jobs/base.html' %}
{% block title %}Welcome{% endblock %}
{% load static %}

{% block head %}
    <meta name="icon-author" content="">

    <style media="screen">
        #user-logo {
            height: 100px;
            padding-bottom: 10px;
        }
        #title > * {
            display: inline-block;
        }
        #status {
            color: blue;
        }
        .user, .user-info {
            text-align: center;
        }
        .user-info {
            padding-top: 100px;
        }
        @media (max-width: 768px) {
            .user-info {
                padding-top: 20px;
            }
        }
        .user-info-details {
            margin: auto;
            max-width: 300px;
            text-align: left;
        }
        .interview-div {
            text-align: center;
            alignment: left;
        }

        .applicant_div {
            text-align: center;
            alignment: right;
        }
    </style>
{% endblock head %}

{% block body %}
    <div class="container profile">
        <div class="row">
            <div class="col-md-6 user border">
                <img id="user-logo" src="{% static 'accounts/user.png' %}" alt="User logo">
                <div id="title">
                    <h1>{{ user.get_full_name }}</h1>
                    <span id=status>&emsp;Status: Admin </span>
                </div>
            </div>
            <div class="col-md-6 user-info border">
                <h2>Personal information:</h2>
                <div class="user-info-details border">
                        Email address: {{ user.email }}
                        <br>
                        Phone number: {{ user.phone_number }}

                </div>
            </div>
        </div>
    </div>
    <!--{% if IS_applications %}
        <div class="container border interview-div">
            <h3>Your interviews:</h3>
            {% for application in IS_applications %}
                <p>
                    <a href="{% url 'accounts:manage_profile' application.applicant.id %}">{{ application.applicant.get_full_name }}</a> &emsp; {{ application.pretty_interview_time }}
                </p>
            {% endfor %}
        </div>
    {% endif %}-->
    <div class="container border applicant-div">
        {% for i in interviews %}
            <h3>Interview at: {{ i.room }}, {{ i.pretty_interview_time }}</h3>
        <h4>Applicant:</h4> <a href="{% url 'accounts:manage_profile' i.applicant.id %}">{{ i.applicant.get_full_name }}</a><br />
        <h4>Interviewers:</h4>
            {% for j in i.interviewers.all %}
                {{ j.get_full_name }},
            {% endfor %}
        <br />
        <br />
        {% endfor %}

    </div>
    <div class="container border interview-div">
        <h4>Applicants for your gang</h4>
        {% for application in user_gang_applications %}
             <a href="{% url 'accounts:manage_profile' application.applicant.id %}">{{ application.applicant.get_full_name }}</a><br />
        {% endfor %}
    </div>
<!--{% if applications %}
        <div class="container border applicant-div">
            <h3>Your applicants:</h3>
            {% for application in applications %}
                {% if application.first.interviewer.position.gang == application.first.gang or application.second.interviewer.position.gang == application.second.gang or application.third.interviewer.position.gang == application.third.gang %}
                <p>
                    <a href="{% url 'accounts:manage_profile' application.applicant.id %}">{{ application.applicant.get_full_name }}</a>
                </p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}-->
    <form action="{% url 'accounts:edit_profile' %}" method="get">
        <input class="input-button" type="submit" value="Edit Profile"><br>
    </form>
    <form action="{% url 'accounts:change_password' %}" method="get">
        <input class="input-button" type="submit" value="Change password"><br>
    </form>
    <form action="{% url 'accounts:logout' %}" method="get">
        <input class="input-button" type="submit" value="Log out"><br>
    </form>

{% endblock %}
