{% extends 'jobs/base.html' %}
{% block title %}{{ user.get_full_name }}{% endblock %}
{% load static %}

{% block head %}

    <meta name="icon-author" content="">

    <style media="screen">
        .application_positions {
            line-height: 1.5em;
            border: solid;
            border-radius: 15px;
            padding: 15px 15px 15px 15px;
            border-color: #007bff;
            width: 30vw;
            margin-left: 33.5vw;
        }
        .interview-div {
            line-height: 1.5em;
            border: solid;
            border-radius: 15px;
            padding: 15px 15px 15px 15px;
            border-color: #0039bb;
            width: 30vw;
            margin-left: 33.5vw;
        }

        @media (max-width: 892px) {
            .interview-div, .application_positions {
                width: 90vw;
                margin-left: 0;
            }
        }

        #user-logo {
            height: 120px;
            margin-bottom: 10px;
        }

        #status {
            color: #007bff;
        }
        h5, #title{
            text-align: center;
        }

    </style>
{% endblock head %}

{% block body %}
    <img id="user-logo" src="{% static 'accounts/user.png' %}" alt="User logo">
    <p><span id=status>&emsp;<b>Status:</b> {{ user.get_status_display }} </span></p>
    <div id="title">
        <h1>{{ user.get_full_name }}</h1>
    </div>
    {% if positions %}
        <h5>You will recive an e-mail with information regarding your interview. Please remember to check your email regularly.</h5>
        <br>
        <div class="application_positions">
            <h5>You have applied for these positions:</h5>
            {% for position in positions %}
            <div>
                <a href="{% url 'jobs:position_detail' position.pk %}">{{ forloop.counter }} - {{ position.title }}</a>
            </div>
            {% endfor %}
        </div>
        <br>
        {% if interview != None %}
            <div class="interview-div">
                <h5>Interview information</h5>
                <b style="color: orangered">Room:</b> {{ interview.room }}<br>
                <b style="color: orangered">Time:</b> {{ interview.pretty_interview_time }}<br>
                <b style="color: orangered">Interviewers:</b><br>
                                {% for j in interview.interviewers.all %}
                                    <b>{{ j.get_full_name }}: </b> {{ j.email }}<br>
                                {% endfor %}

            </div>
            <br>
            If you still want to edit your application, send us an Email on recruiting@isfit.no
        {% else %}
            <div class="interview-div">
                <h5>Your interview has not been set. Interview information will appear here.</h5>
            </div>
            <br>
        <form action="{% url 'applications:apply' %}" method="get">
            <button class="btn btn-success" type="submit">Edit application</button>
        </form>
        {% endif %}
    {% else %}
        <h2>You have not yet applied for any positions.</h2>
        <form action="{% url 'applications:apply' %}" method="get">
            <button class="btn btn-success" type="submit">Apply for a position now!</button>
        </form>
    {% endif %}

    <form action="{% url 'accounts:edit_profile' %}" method="get">
        <button class="btn btn-primary" type="submit">Edit Profile</button>
    </form>
    <form action="{% url 'accounts:change_password' %}" method="get">
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
    <form action="{% url 'accounts:logout' %}" method="get">
        <button type="submit" class="btn btn-outline-danger">Logout</button>
    </form>

{% endblock %}
