{% extends 'jobs/base.html' %}
{% block title %}Welcome{% endblock %}
{% load static %}

{% block head %}
    <meta name="icon-author" content="">

    <style media="screen">
        #user-logo {
            height: 100px;
            padding-bottom: 10px;
        }
        #title > * {
            display: inline-block;
        }
        #status {
            color: blue;
        }
        .user, .user-info {
            text-align: center;
        }
        .user-info {
            padding-top: 100px;
        }
        @media (max-width: 768px) {
            .user-info {
                padding-top: 20px;
            }
        }
        .user-info-details {
            margin: auto;
            max-width: 300px;
            text-align: left;
        }

        .smooth-wrapper a{
            font-size: 28px;
        }

        .smooth-wrapper{
            grid-auto-columns: 4fr 4fr 4fr;
            text-align: center;
        }

        /*.container a{
            font-size: 30px;
        }*/

        .applicant-div a{
            font-size: 30px;
        }

        .col-md-12, .col-xs-12{
            text-align: center;
        }


    </style>
{% endblock head %}

{% block body %}
    <div class="container profile">
        <div class="row">
            <div class="col-md-6 user">
                <img id="user-logo" src="{% static 'accounts/user.png' %}" alt="User logo">
                <div id="title">
                    <h1>{{ user.get_full_name }}</h1>
                    <span id=status>&emsp;Status: Admin </span>
                </div>
            </div>
            <div class="col-md-6 user-info">
                <h2>Personal information:</h2>
                <div class="user-info-details">
                        Email address: {{ user.email }}
                        <br>
                        Phone number: {{ user.phone_number }}
                </div>
            </div>
        </div>
    </div>
    <!--{% if IS_applications %}
        <div class="container border interview-div">
            <h3>Your interviews:</h3>
            {% for application in IS_applications %}
                <p>
                    <a href="{% url 'accounts:manage_profile' application.applicant.id %}">{{ application.applicant.get_full_name }}</a> &emsp; {{ application.pretty_interview_time }}
                </p>
            {% endfor %}
        </div>
    {% endif %}-->
    <div class="container border applicant-div">
        <h2><u>List of your interviews</u></h2>
        {% for i in interviews %}
            <h3>Interview at: {{ i.room }}, {{ i.pretty_interview_time }}</h3>
        <h4>Applicant:</h4> <a href="{% url 'accounts:manage_profile' i.applicant.id %}">{{ i.applicant.get_full_name }}: </a>{{ i.applicant.get_pretty_status }}<br />
        <h4>Interviewers:</h4>
            {% for j in i.interviewers.all %}
                {{ j.get_full_name }},
            {% endfor %}
        <br />
        <br />
        {% endfor %}

    </div>
    <br>
    <div class="container">
        <h4><u>All gang applicants</u></h4>
        {% if user_gang_applications %}
        <button class="btn btn-dark btn-block" type="button" data-toggle="collapse" data-target="#applicants" aria-expanded="false">
            Applicants for {{ user.gang }}
        </button>
        {% endif %}
            <!-- Applicants collapsible -->
            <div class="collapse" id="applicants">
                <div class="smooth-wrapper">
                    {% for application in user_gang_applications %}
                        {% if application.first.gang == user.gang %}
                            <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                                {{ application.applicant.get_full_name }}:
                            </a>
                            <p>1: {{ application.first }}
                            <br>2: {{ application.second }}
                            <br>3: {{ application.third }}</p>
                        {% endif %}
                    {% endfor %}
                    {% for application in user_gang_applications %}
                        {% if application.first.gang != user.gang and application.second.gang == user.gang %}
                            <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                                {{ application.applicant.get_full_name }}:
                            </a>
                            <p>1: {{ application.first }}
                            <br>2: {{ application.second }}
                            <br>3: {{ application.third }}</p>
                        {% endif %}
                    {% endfor %}
                    {% for application in user_gang_applications %}
                        {% if application.first.gang != user.gang and application.second.gang != user.gang and application.third.gang == user.gang %}
                            <a href="{% url 'accounts:manage_profile' application.applicant.id %}">
                                {{ application.applicant.get_full_name }}:
                            </a>
                            <p>1: {{ application.first }}
                            <br>2: {{ application.second }}
                            <br>3: {{ application.third }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    </div>
    <br>
<!--{% if applications %}
        <div class="container border applicant-div">
            <h3>Your applicants:</h3>
            {% for application in applications %}
                {% if application.first.interviewer.position.gang == application.first.gang or application.second.interviewer.position.gang == application.second.gang or application.third.interviewer.position.gang == application.third.gang %}
                <p>
                    <a href="{% url 'accounts:manage_profile' application.applicant.id %}">{{ application.applicant.get_full_name }}</a>
                </p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}-->
    <div class="col-md-12 col-xs-12">

        <form action="{% url 'accounts:edit_profile' %}" method="get">
            <button type="submit" class="btn btn-primary">Edit profile</button>
        </form>
        <form action="{% url 'accounts:change_password' %}" method="get">
            <button type="submit" class="btn btn-primary">Change password</button>
        </form>
        <form action="{% url 'accounts:logout' %}" method="get">
            <button type="submit" class="btn btn-outline-danger">Logout</button>
        </form>
    </div>

{% endblock %}
