{% extends 'jobs/base.html' %}
{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <h2>Create account</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary" style="width:100%">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h3>Already have an account?</h3>
    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Login"><br>
    </form>
{% endblock %}
