@font-face {
    font-family: "MyriadPro";
    src: url("fonts/MyriadPro-Regular.otf") format("truetype"), local("abc");
}
/* color seem to have no effect */

html{
    height: 100%;
}

body {
    /*background: white url("images/background.jpg");*/
    font-family: MyriadPro !important;
    background-color: #0d0d0d;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: white;
    min-height: 100%;
    position: relative;
    margin: 0;
    text-align: center;
    alignment: center;
    align-content: center;
    align-items: center;
    padding-bottom: 50px;
    overflow-x: hidden;
}

.pattern-blue{
    background-image: url("../../static/jobs/images/migration-pattern-blue.png");
    top: 25vh;
    height: 1000px;
    width: 500px;
    background-size: contain;
    background-position: center;
    left: -10vw;
    position: fixed;
    z-index: -10;
    overflow-y: hidden;
}

.pattern-green{
    background-image: url("../../static/jobs/images/migration-pattern-green.png");
    top: 35vh;
    height: 800px;
    width: 400px;
    background-size: contain;
    background-position: center;
    right: -5vw;
    position: fixed;
    z-index: -10;
    overflow-y: hidden;
}

@media (max-width: 768px) {
    body {
        padding-bottom: 50px;
    }
}

/* Problematic to add in a base styling. All extended documents inherits this */
h3 {
    margin-top: 10px;
}
/* Needed? */
a {
    text-decoration: none;
}
/* Needed? */
a:hover {
    text-decoration: none;
}

small {
    display: inline-block !important;
}

/* Needed? */
.text-area {
    margin-bottom: 20px;
}

.form-text{
    height: 150px;
}

/*.navbar-nav > a,
.navbar-nav > li a {
    color: white;
}

.dropdown-nav {
    background-color: black;
}*/

.dropdown-item {
    white-space: normal;
}

/* What is this for? Just curious :) */
.media {
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 25px;
}

Textarea{
    height: 100px;
}

.form-control{
    width: 50%;
    margin-left: 25vw;
}

@media (max-width: 892px) {
    .form-control {
        width: 90vw;
        margin-left: 0;
    }
}

@media (max-width: 892px) {
    .pattern-green, .pattern-blue {
        display: none;
    }
}

a.nav-link:hover{
    color: #00bdff;
}

.nav-link a{

}

/* ------ Buttons ------ */
button {
    /*display: flex;*/
    height: auto;
    background-color: #007bff;
    border: 1px solid gray;
    cursor: pointer;
    text-align: center;
    color: white;
}

.btn{
    margin-bottom: 20px;
}

.btn-primary:hover{
    background-color: white;
    color: #007bff;
}

.btn-success:hover{
    background-color: white;
    color: #28a745;
}

.rectangle-8 {
	box-sizing: border-box;
	height: 51px;
	width: 208px;
	background-color: #FAFAFA;
	border: 3px solid #09C;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
}

.input-button {
    background-color: #007bff;
    margin: 7px;
    width: 180px;
    border: 1px solid gray;
    border-radius: 3%;
    cursor: pointer;
}

.have-user-button{
    cursor: pointer;
}

.input-button:hover, button:hover {
    background-color: white;
    color: #007bff;
    border-color: #007bff;
}
/* Maybe not necessary to have style on visited links */
a:link, a:visited{
    color: #007bff;
}
a:link:hover, a:visited:hover {
    color: #00bdff;
    text-underline: #007bff;
}

#page-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    min-height: 100%;
}

/*.navbar {
    padding-top: 20px;
}

.navbar-header {
    display: flex;
}

.navbar-brand {
    margin: 0;
}

.navbar-toggle {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 30px;
    width: 40px;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    border-radius: 15%;
    background-color: black;
}

.navbar-toggle:focus {
    outline: none;
}

.navbar-header .icon-bar {
    width: 100px;
    height: 5px;
}*/

#footprints_long {
    border-width: 3px;
    background: url("images/footprints_long.png");
    background-size: cover;
    width: -webkit-fill-available;
    height: 80px;
    margin-bottom: 0;
    margin: 10px 0 0 20px;
}

#main-logo {
    background: url("images/isfit_logo72-22.png");
    width: 200px;
    height: 50px;
}

#main-logo,
#footprint-1,
#footprint-2,
#footprint-3,
#footprint-4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}

.main-logo-footprints {
    display: flex;
    justify-content: space-between;
}

/*.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    width: 25px;
    height: 2px;
}*/

.clearfix {
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}
/* Needed? */
.space-above {
    margin-top: 15px;
}
/* Needed? */
.space-below {
    margin-bottom: 20px;
}
/* Needed? */
.white-box {
    background-color: #fff;
    padding: 20px;
    overflow: auto;
}

/* Needed? */
.unstyled-box {
    padding: 20px;
}

/* Repeated */
.clearfix {
    overflow: auto;
}

.flex-horizontal {
    display: flex;
}

.flex-horizontal > h3 {
    margin: 0;
    margin-top: 10px;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

/* More clear to have this styling in same documents where gangs are used */
.gangs-div {
    max-width: 70%;
    margin-left: 10px;
    position: relative;
    top: 50px;
    margin-bottom: 50px;
}
/* Needed? */
.gangs-div > .flex-vertical > h5 {
    margin: 0;
}
/* Needed? */
.positions-div {
    margin-left: 10px;
}
