{% load static %}
<style>
    /*.right{
        right: 10vw;
        position: absolute;
        color: white;
    }

    .left{
        left: 10vw;
        position: absolute;
        color: white;
    }*/

    footer .left{
        color: white;
    }
    footer .middle{
        color: white;
    }
    footer .right{
        color: white;
    }

    .footer{
        bottom: 0;
        position: absolute;
        width: 100%;
        margin-top: 30px;
        color: white;
    }


    .footer a{
        color: white;
    }

    .footer a:hover{
        color: gray;
    }
</style>

<footer class="footer footer-transparent">
    <a class="left" href="https://www.isfit.org">www.isfit.org</a> ||
    <a class="middle">{% include "accounts/GDPR_modal.html"%}</a>||
    <a class="right" href="https://www.studentpeaceprize.org/">Student Peace Prize</a>
</footer>