{% load static %}
<style>
    .footer {
        bottom: 0;
        position: absolute;
        width: 100%;
        margin-top: 30px;
        color: white;
    }

    .footer a {
        color: white;
    }

    .footer a:hover {
        color: gray;
    }
</style>

<footer class="footer footer-transparent">
    <a href="https://www.isfit.org" target="_blank">www.isfit.org</a> ||
    {% include 'accounts/GDPR_modal.html' %}||
    <a href="https://www.studentpeaceprize.org/" target="_blank">Student Peace Prize</a>
</footer>
