{% load static %}
<style>
    .foot-cont{
        color: white;
        bottom: 0;
        position: absolute;
        width: 100%;
        margin-top: 30px;
    }

    .foot-cont a{
        color: white;
    }

    .right{
        right: 50px;
        position: absolute;
    }

    .left{
        left: 50px;
        position: absolute;
        color: white;
    }

    .foot-cont a:hover{
        color: gray;
    }

    footer{
        bottom: 0;
        position: absolute;
        width: 100%;
        margin-top: 30px;
    }

    #myBTN{
        color: white;
    }
</style>

<footer class="footer footer-transparent">
    <div class="container foot-cont">
        <a class="footer left"> {% include 'accounts/GDPR_modal.html' %} </a>
        <a class="footer middle" href="https://www.isfit.org">www.isfit.org</a>
        <a class="footer right" href="https://www.studentpeaceprize.org/">Student Peace Prize</a>
    </div>
</footer>