{% extends 'jobs/base.html' %}
{% block title %}Welcome{% endblock %}
{% block head %}
<style media="screen">

    .text-area{
        text-align: center;
    }

    .input-button{
        width: 15em;
        height: 2em;
    }

    #easteregg{
        position: fixed;
        right: 3px;
        bottom: 0;
        opacity: 0.1;
    }
</style>
{% endblock %}

{% block body %}
    <div class="text-area container" id="intro-text">
          <h1>We are now recruiting <b><u>volunteers</u></b>!</h1>
          <p><i>Applications to participate in ISFiT19 will open August 31st.
          This is to volunteer with ISFiT. To volunteer, you must be <b>a student in Trondheim</b>.</i></p>
          Do you want to join us in welcoming the world to Trondheim in 2019? Would
           you like to get to know students from all over the world and join them
           for ten days at the world's largest international student festival?
            ISFiT is now recruiting! We are looking for volunteers in all
          departments, from economy and administration to culture and theme! Press,
          Concerts and Accounting are only some of the groups looking for fresh
          volunteers. If you want to learn more about the different positions, go to
          <a href={% url 'jobs:information' %}>positions</a> and explore all the options.
    </div>

    {% if user.is_authenticated %}
        <!-- Profile -->
        <form action="{% url 'accounts:profile' %}" method="get">
            <input class="input-button" type="submit" value="See profile"><br>
        </form>
        {% if user.is_staff %}
            <!-- Set dates -->
            <form action="{% url 'applications:set_dates' %}" method="get">
                <input class="input-button" type="submit" value="Set dates"><br>
            </form>
            <!-- Manage applications -->
        {% if user.is_superuser %}
            <form action="{% url 'applications:manage_applications' %}" method="get">
                <input class="input-button" type="submit" value="Manage applications"><br>
            </form>
        {% endif %}
        {% else %} <!-- If normal user -->
            <!-- Edit application -->
            <form action="{% url 'applications:apply' %}" method="get">
                {% if has_applied %}
                <input class="input-button" type="submit" value="Edit application"><br>
                {% else %}
                <input class="input-button" type="submit" value="Apply now!"><br>
                {% endif %}
            </form>
        {% endif %}
        <!-- Logout -->
        <form action="{% url 'accounts:logout' %}" method="get">
            <input class="input-button" type="submit" value="Log out"><br>
        </form>
    {% else %}
        <form action="{% url 'accounts:signup' %}" method="get">
            <input class="input-button" type="submit" value="Create profile"><br>
        </form>
        <form action="{% url 'accounts:login' %}" method="get">
            <input class="input-button" type="submit" value="Login"><br>
        </form>
        <!-- <br> -->
        <form action="{% url 'jobs:information' %}" method="get">
            <input class="input-button" id='see-pos' type="submit" value="Browse all available positions"><br>
        </form>
    {% endif %}
    <div id='easteregg'>&#9854;</div>
{% endblock %}
{% block scriptblock %}
    <script type="text/javascript">
        var DELAY = 700, clicks = 0, timer = null;
        $("#easteregg").on("click", function(e){
            clicks++;
            timer = setTimeout(function() {
                clicks = 0;
            }, DELAY);
            if (clicks > 2){
                $('.text-area').css('font-size', 'xx-small')
                var i = 0;
                var interval = setInterval(function(){
                    if (i == $('form').length) clearInterval(interval);
                    move($('form')[i], dir = (i%2 == 0) ? 'margin-left' : 'margin-right')
                    i++;
                },
                1000);
            }
        });
        var colors = ['orange', 'white']
        function move(obj, dir){
            i = 0;
            function glide() {
                $('h1').css('color', colors[i%3])
                i += 2;
                $(obj).css(dir, i+'px');
                $(obj).css('background-color', colors[i%3])
               setTimeout(glide, 2);
               i = (i > 1500) ? -1500 : i
            }
            setTimeout(glide, 5);
        }
    </script>
{% endblock %}
