{% extends 'jobs/base.html' %}
{% block title %}Welcome{% endblock %}
{% load static %}
{% block head %}
<style media="screen">

    .text-area{
        text-align: center;
        margin-bottom: 40px;
        margin-top: 180px;
    }

    .input-button{
        width: 15em;
        height: 2em;
    }

    #easteregg{
        position: fixed;
        right: 3px;
        bottom: 0;
        opacity: 0.1;
    }

    .col-md-12, .col-xs-12{
        text-align: center;
    }

    .col{
        text-align: center;
    }

    .btn{
        margin-bottom: 20px;
    }



</style>
{% endblock %}

{% block body %}
{% if user.is_superuser %}
<div class="text-area container" id="admin-text">
    <h3>Admins have access to all information and the administration portion of the website</h3>
</div>
{% elif user.is_staff %}
    <div class="text-area container" id="staff-text">
        <h1>How does the recruitmentweb work?</h1>

        <h2>Information about staff-user</h2><br />

    When you have got access to staff-user you will be on the staff-part of the website. This means that you have access to information about your applicants. On your profile you will have a list with all applicants that have applied for your position and interview times that have been scheduled.<br /><br />
    To make it easier for recruitment to schedule interviews, for you and your gang, it is important that you fill out the times when you are unavailable. This is done on “Set dates”. Remember to be flexible since we only have a few days to do all interviews!

    </div>


{% else %}
    <div class="text-area container" id="intro-text">
          <h1>ISFiT19 is looking for new <b><u>volunteers!</u></b>!</h1>
           We are looking for volunteers interested in
           <a href={% url 'jobs:information' %}>positions</a> within culture,
           administration and communication. If you are a current student living
           in Trondheim, don’t hesitate to submit your application and we look
           forward to meeting you!
    </div>

{% endif %}
    {% if user.is_authenticated %}
        <!-- Profile -->
<div class="row">
    <div class="col-md-12 col-xs-12">
            <form action="{% url 'accounts:profile' %}" method="get">
                <button type="submit" class="btn btn-primary">View profile</button>
            </form>
        {% if user.is_staff %}
            <!-- Set dates -->
                <form action="{% url 'applications:set_dates' %}" method="get">
                    <button type="submit" class="btn btn-outline-success">Set <u>UNAVAILABLE</u> times</button>
                </form>
            <!-- Manage applications -->
        {% if user.is_superuser %}
                <form action="{% url 'applications:manage_applications' %}" method="get">
                    <button type="submit" class="btn btn-primary">Manage applications</button>
                </form>

        {% endif %}
        {% else %} <!-- If normal user -->
            <!-- Edit application -->
            <form action="{% url 'applications:apply' %}" method="get">
                {% if has_applied %}
                    <button type="submit" class="btn btn-primary">Edit application</button>
                {% elif not has_applied and user.get_status == "NE" %}
                    <button type="submit" class="btn btn-primary">Apply now!</button>
                {% endif %}
            </form>
        {% endif %}
        <!-- Logout -->
        <form action="{% url 'accounts:logout' %}" method="get">
            <br>
            <button type="submit" class="btn btn-outline-danger" id="logout">Logout</button>
        </form>
    {% else %}
        <form action="{% url 'accounts:signup' %}" method="get">
            <button type="submit" class="btn btn-primary">Create user</button>
        </form>
        <form action="{% url 'accounts:login' %}" method="get">
            <button type="submit" class="btn btn-outline-primary">Log in</button>
        </form>
        <!-- <br> -->
        <form action="{% url 'jobs:information' %}" method="get">
            <button type="submit" class="btn btn-outline-primary">Browse all avilable positions</button>
        </form>
    {% endif %}
    </div>
</div>

    <div id='easteregg'>&#9854;</div>
{% endblock %}
{% block scriptblock %}
    <script type="text/javascript">
        var DELAY = 700, clicks = 0, timer = null;
        $("#easteregg").on("click", function(e){
            clicks++;
            timer = setTimeout(function() {
                clicks = 0;
            }, DELAY);
            if (clicks > 2){
                $('.text-area').css('font-size', 'xx-small')
                var i = 0;
                var interval = setInterval(function(){
                    if (i == $('form').length) clearInterval(interval);
                    move($('form')[i], dir = (i%2 == 0) ? 'margin-left' : 'margin-right')
                    i++;
                },
                1000);
            }
        });
        var colors = ['orange', 'white']
        function move(obj, dir){
            i = 0;
            function glide() {
                $('h1').css('color', colors[i%3])
                i += 2;
                $(obj).css(dir, i+'px');
                $(obj).css('background-color', colors[i%3])
               setTimeout(glide, 2);
               i = (i > 1500) ? -1500 : i
            }
            setTimeout(glide, 5);
        }
    </script>
{% endblock %}
