{% extends 'jobs/base.html' %}

{% block head %}
    <style media="screen">
        .positions-overview div {
            color: white;
        }

        @media screen and (max-width: 767px) {
            .box-white ul li {
                padding: 0 5px;
            }
        }

        .box-white {
            background: #0d0d0d;
            border-radius: 2px;
            padding: 1em;
            margin-bottom: 2em;
        }

        .box-white ul li {
            margin: .5em 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1em;
            padding: 0 10px;
        }

        .col-xs-12 {
            width: 100%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .col-sm-4 {
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .smooth-wrapper {
            background-color: #23272b;
            border: 1px solid #343a40;
            border-top-style: none;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 10px;
        }

        #buttons-div button {
            min-width: 100px;
        }

        * {
            outline: 0;
        }

        ul.list-unstyled {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        ul.list-unstyled li {
            overflow: hidden;
        }

        ul {
            margin: 0 0 1em 1em;
            list-style: disc;
        }

        li {
            display: list-item;
            text-align: -webkit-match-parent;
        }

        .gangs-div {
            display: grid;
            text-align: center;
            align-content: center;
        }

    </style>
{% endblock head %}

{% block body %}

<div class="container fluid">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <div class="container">
                <div class="section-padding">
                    {% for section in sections %}
                        <section class="box-white">
                            <!-- Buttons for showing section-info -->
                            <button class="btn btn-dark btn-block" type="button" data-toggle="collapse" data-target="#section-info-box-{{ forloop.counter }}" aria-expanded="false">
                                {{ section.name }}
                            </button>
                                <!-- Section information collapsible -->
                                <div class="collapse" id="section-info-box-{{ forloop.counter }}">
                                    <div class="smooth-wrapper">
                                        <p>{{ section.information|linebreaksbr}}</p>
                                    </div>
                                </div>
                            <!-- All positions in section -->
                            <ul class="row list-unstyled">
                                {% for gang in section.gangs.all %}
                                    {% for position in gang.positions.all %}
                                        <li class="col-xs-12 col-sm-4">
                                            <a href="{% url 'jobs:position_detail' position.pk %}">{{ position.title }}</a>
                                        </li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </section>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}