{% extends 'jobs/base.html' %}
{% block title %}{{position.title}}{% endblock %}
{% load static %}

{% block head %}
    <style media="screen">
        .arrow-left {
            width: 1.5em;
        }
        #title {
            font-size: 2em;
        }
        #description {
            font-size: 1.5em;
        }
        hr {
            border-color: white;
        }
        #contact-person {
            color: gray;
        }
        @media(max-width: 760px) {
            body {
                font-size: 80%;
            }
            #title {
                font-size: 1.5em;
            }
            #description {
                font-size: 1em;
            }
        }
        #div-back{
            text-align: left;
            font-size: 150%;
            margin-bottom: 1em;
        }
        #div-back a:hover{
            margin-left: -0.15em;
        }
    </style>
{% endblock head %}

{% block body %}
    <!-- Back to positions -->
    <div class="container" id='div-back'>
        <a href="{% url 'jobs:information' %}">
            <img class="arrow-left" src="{% static 'applications/arrow_left.png' %}" alt="Arrow left">
            Positions
        </a>
    </div>
    <!-- Dummy -->
    <!-- Title (row centered) -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8"> <!-- Auto wraps around content length -->
                <span id="title">{{ position.gang }}: {{position.title}}</span>
                <hr>
            </div>
        </div>
    </div> <!-- End: Title -->

    <!-- Position description (row centered) -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8"> <!-- Auto wraps around content length -->
                <span id="description">Description:</span>
                <p>{{position.description|linebreaksbr}}</p>
            </div>
        </div>
    </div> <!-- End: Position description -->

    <!-- Contact person (row centered) -->
    <div class="container">
        <div class="row justify-content-center">
            <div id="contact-person" class="col-sm-8"> <!-- Auto wraps around content length -->
                <p>
                    Contact person: {{position.contact_person.get_full_name}}<br>
                    Email address: {{position.contact_person.email}}<br>
                    Phone: {{position.contact_person.phone_number}}
                </p>
            </div>
        </div>
    </div> <!-- End: Contact person -->
{% endblock %}
